APP_NAME="Merovio CRM"

PORT=8000
NODE_ENV=development

CLIENT_URL=http://localhost:5173

MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_URI=

# Generate the secret in the terminal using the code:
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))";
JWT_SECRET=
JWT_EXPIRES_IN=7d

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
